* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-cover {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("./components/images/green-leather-background.jpg");
  background-size: cover;
  align-items: center;
}

#front-page-hand {
  position: relative;
  width: 500px;
  margin-right: 86px;
  margin-top: 57px;
}

@font-face {
  font-family: "Viking";
  src: url("./components/fonts/PR Viking.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Kiona";
  src: url("./components/fonts/Kiona-Regular.ttf") format("truetype");
  font-style: normal;
}

.main-font-color {
  color: #c3a343;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
    url(./components/images/gold-texture.jpg) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}

#bar-title {
  font-size: 15em;
  font-family: "Viking";
  margin-bottom: 10px;
  letter-spacing: 100px;
}

#cocktail-bar {
  font-family: "Kiona";
  font-size: 2.5em;
  letter-spacing: 88px;
}

#nav-container {
  width: 60%;
  margin-top: 80px;
}

#nav-bar-wrapper {
  font-size: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

.nav-bar-options {
  text-decoration: none;
  font-family: "Kiona";
  letter-spacing: 10npm tun px;
}

/*link hover effect*/
a:hover::after {
  content: "";
  display: block;
  width: 100%;

  /* Adjust height and bottom values to work with selected font */
  height: 0.1em;
  bottom: 0.1em;

  /* Create gradient */
  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(218, 199, 140, 0.6) 30%,
    rgba(218, 199, 140, 0.7) 50%,
    rgba(218, 199, 140, 0.6) 70%,
    transparent 100%
  );

  /* Set-up fade-in animation */
  opacity: 0;
  animation: fadeIn 400ms ease-out forwards;
}

/* Fade-in animation */
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

/* MENU PAGE */

.menu-banner {
  background-color: rgb(13, 46, 13);
  height: 733px;
  display: flex;
  flex-direction: row;
}

#flower {
  width: 117%;
  height: 172%;
  flex: 1;
}

#heading-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-heading {
  display: block;
  align-self: center;
  font-family: "Kiona";
  font-size: 15em;
  color: #c3a343;
}

#drinks-container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 700px 700px;
}

.cocktail-box {
  display: inline-block;
  position: relative;
  height: 100%;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.drink-images {
  object-position: center;
  object-fit: cover;
  max-width: 100%;
  transition: transform 0.2s ease-in-out;
  z-index: 1;
  position: relative;
}

.drink-images:hover {
  transform: scale(1.1);
}

#cocktail0 {
  bottom: 79px;
}

#cocktail1 {
  bottom: 269px;
}

#cocktail2 {
  bottom: 224px;
}

#cocktail3 {
  height: 100%;
}

#cocktail4 {
  height: 100%;
}

#cocktail5 {
  bottom: 261px;
}

.text-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(202, 181, 116, 0.8);
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  font-size: 2em;
  line-height: 1.4em;
  font-family: sans;
}

.text-headings {
  font-family: "Viking";
  font-size: 1.5em;
  margin-bottom: 10px;
  color: rgb(8, 31, 8);
}

.text-paragraphs {
  color: rgb(8, 31, 8);
  font-family: "Kiona";
  font-weight: 600;
}
